.App {
  background-color: #282c34;
  color: #ffffff;
  height: 100%;
  width: 100%;
}

.Query {
  position: relative;
  top: 0;
  width: 100%;
  text-align: center;
  height: 100px;
}

.Query label {
  padding: 5px;
  margin: 5px;
}

.Query input {
  margin: 20px 5px;
  padding: 5px;
}
